<form-component>
    <h2>Upload to Wall</h2>
    <form action="http://api.eventwall.org/upload" method="post">
        <div class="form-group">
            <label for="inputName" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="inputName" ngControl="inputName" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="email" class="form-control" name="inputEmail" ngControl="inputEmail" required>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2 control-label" for="inputFile">Photo</label>
            <div class="col-md-10">
                <input type="text" readonly="" class="form-control" ngControl="inputFile" placeholder="Browse..." required>
                <input type="file" name="inputFile" multiple="">
            </div>
        </div>
        <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary" onclick="$('form')[0].submit()"><i class="material-icons">file_upload</i> Upload</button>
        </div>
        <div class="clearfix"></div>
    </form>
</form-component>